* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    overflow: hidden;
    position: relative;
    background: #fdd8d8;
}


nav {
    padding-inline: 2vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav h2 {
    font-weight: 300;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav i {
    font-size: 30px;
    margin-right: 20px;
}


section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#sec-1 {
    position: relative;
}


canvas {
    z-index: 9;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.headline {
    position: absolute;
    top: 30%;
    left: 0;
    display: flex;
    animation: transX 60s linear infinite;
}

.headline h1 {
    white-space: nowrap;
    font-size: 14vw;
    font-family: sans-serif;
    font-weight: 100;
}

@keyframes transX {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.stroke {
    -webkit-text-stroke: 2px black;
    font-weight: 600;
    color: transparent;
}

.thin-font {
    font-weight: 300;
}

.hero-texts {
    position: absolute;
    top: 60%;
    left: 0;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    padding-inline: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.left-text {
    width: 38%;
}

.right-text {
    width: 38%;
}

.right-text h2 {
    text-align: end;
}

#sec-2 {
    position: relative;
    font-family: sans-serif;
}

.left-text-2 {
    position: absolute;
    top: 30%;
    left: 0;
    padding-left: 4%;
}

.right-text-2 {
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 4%;
    text-align: right;
}

#sec-2 h1 {
    font-size: 3.2vmax;
}

#sec-2 p {
    line-height: 20px;
    font-size: 2vmin;
}

#sec-3 {
    font-family: sans-serif;
}

#sec-3 .right-text-2 {
    top: 50%;
    width: 40%;
}

.bottom-text {
    margin-top: 20px;
}

#sec-3 h1 {
    line-height: 4.3vmax;
    font-size: 4vmax;
}

#sec-3 p {
    font-size: 2vmin;
}

#sec-4 {
    position: relative;
    font-family: sans-serif;
}

.sec-4-left {
    width: 35%;
    position: absolute;
    top: 20%;
    padding-left: 4%;
}

.sec-4-right {
    padding-right: 4%;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
}

#sec-4 h1 {
    font-size: 4vmax;
}

#sec-4 p {
    font-size: 2vmin;
}


#sec-5 {
    position: relative;
    font-family: sans-serif;
    z-index: 999;
    background: black;
}

.sec-5-top {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sec-5-top h1 {
    font-size: 4vmax;
    white-space: nowrap;
    text-align: center;
}

.sec-5-top p {
    font-size: 2vmin;
    text-align: center;
}

.sec-5-bottom {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 7vw;
    white-space: nowrap;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

.moving-first-text {
    animation: trans2 40s linear infinite;
}

.moving-sec-text {
    animation: trans 30s linear infinite;
    -webkit-text-stroke: 2px rgb(148, 148, 148);
    color: transparent;
}

.moving-third-text {
    animation: trans3 35s linear infinite;
}

.sec-5-image {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: url(./aaaaaaaaaaaa.png);
    background-size: 50%;
    background-position: bottom;
    background-repeat: no-repeat;
}

@keyframes trans {
    0% {
        transform: translate(-30%);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes trans2 {
    0% {
        transform: translate(30%);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes trans3 {
    0% {
        transform: translate(30%);
    }

    100% {
        transform: translate(-100%);
    }
}


@media screen and (max-width: 1024px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    .left-text{
        width: 30%;
        
    }

    .right-text{
        width: 30%;
    }

    .right-text h2,.left-text h2{
        font-size: 15px;
        line-height: 20px;
    }

    .bottom-text p{
        display: none;
        line-height: 20px;
    }
    #sec-3 .right-text-2{
        width: 35%;
        line-height: 20px;
    }
    .sec-4-left{
        top: 20%;
        line-height: 20px;
    }
    #sec-4 p{
        margin-top: 30px;
        font-size: 13px;
    }
}


@media screen and (max-width: 870px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    .left-text{
        width: 30%;
        
    }

    .right-text{
        width: 30%;
    }

    .right-text h2,.left-text h2{
        font-size: 13px;
        line-height: 20px;
    }

    .bottom-text p{
        display: none;
        line-height: 20px;
    }
    #sec-3 .right-text-2{
        width: 35%;
        line-height: 15px;
    }
    .sec-4-left{
        top: 50%;
        line-height: 20px;
    }
    
    .sec-4-right{
        top: 15%;
    }

    #left-bottom-p{
        display: none;
    }

    #sec-4 p{
        margin-top: 30px;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    .headline h1 {
        font-size: 20vw;
    }

    nav h2,
    nav i {
        font-size: 3vmax;
        margin: 0.5vw;
    }

    #sec-2 .left-text-2 {
        top: 35%;
    }

    #sec-2 .right-text-2 {
        top: 55%;
    }

    .top-text {
        display: none;
    }

    .sec-4-left {
        top: 40%;
    }

    .sec-4-right {
        top: 54%;
    }

    #left-bottom-p {
        display: none;
    }

    .sec-5-top {
        top: 20%;
    }

    .sec-5-bottom h1 {
        letter-spacing: 15px;
    }
}

@media screen and (max-width: 426px) {
    canvas {
        height: 100vh;
        width: 100vw;
    }

    .headline {
        top: 20%;

    }

    .headline h1 {
        font-size: 30vw;
    }

    .left-text {
        display: none;
    }

    .hero-texts {
        top: 42%;
    }

    .right-text {
        font-size: 8px;
    }

    #sec-2 .left-text-2 {
        top: 20%;
    }

    #sec-2 .right-text-2 {
        top: 57%;
        right: 35%;
    }

    #sec-2 p {
        font-size: 10px;
    }

    #sec-2 h1 {
        font-size: 20px;
    }

    #sec-3 .left-text-2 {
        top: 20%;
    }

    #sec-3 p {
        font-size: 14px;
        margin-bottom: 4px;
    }

    #sec-3 h1 {
        font-size: 30px;
        line-height: 30px;
    }

    #sec-3 .right-text-2 {
        top: 46%;
        left: 12%;
    }


    .sec-4-left {
        top: 20%;
    }

    #sec-4 p {
        font-size: 12px;
    }

    #sec-4 h1 {
        font-size: 25px;
    }

    .sec-4-right {
        top: 57%;
        right: 35%;
    }

    #left-bottom-p {
        display: none;
    }


    .sec-5-top h1 {
        font-size: 25px;
        -webkit-text-stroke: 0.5px whitesmoke;
    }

    .sec-5-top p {
        font-size: 12px;
    }

    .sec-5-image {
        background-size: 100%;
    }

}